<!DOCTYPE html>
<html>
<head>
    <title>Coș · LETHARÉ</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav class="navbar">
    <div class="nav-left">LETHARÉ</div>

    <div class="nav-center">
        <a href="/femei">Femei</a>
        <a href="/barbati">Bărbați</a>
        <a href="/copii">Copii</a>
    </div>

    <div class="nav-right">
        <a href="/cos">Coș</a>
    </div>
</nav>

<div class="cos-page">

    <h1>Coșul tău</h1>

    {% if produse %}
        <div class="cos-lista">
            {% for p in produse %}
                <div class="cos-item">
                    <img src="{{ p.imagine }}">

                    <div class="cos-info">
                        <h3>{{ p.nume }}</h3>
                        <div>{{ p.pret }} €</div>
                        <div class="cos-qty">
                            <a href="/cos/update/{{ p.id }}/{{ p.cantitate - 1 }}">−</a>
                            <span>{{ p.cantitate }}</span>
                            <a href="/cos/update/{{ p.id }}/{{ p.cantitate + 1 }}">+</a>
                        </div>

                        <a href="/cos/remove/{{ p.id }}" class="cos-remove">
                            Șterge
                        </a>
                    </div>

                    <div class="cos-subtotal">
                        {{ p.subtotal }} €
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="cos-total">
            Total: {{ total }} €
        </div>
        <a href="/checkout" class="cos-checkout">
           Finalizează comanda
        </a>
    {% else %}
        <div class="cos-empty">
            Coșul este gol
        </div>
    {% endif %}

</div>

</body>
</html>